@import 'variables'; //always first
@import 'base';

body {
    margin: 5%;
    background-color: beige;
}

.cardholder {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 1px 1px $c1;
    background-color: white;

    h6 {
        color: darkblue;
        font-size: $font-basesize;
    }

    p {
        font-size: $font-smallsize;
    }

}

.card:hover {
    box-shadow: 8px 4px 4px $c2;
}

div {
    h5 {
        color: red;
        font-size: $font-medsize;
    }
}